---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ProjectsCarousel from '../components/projects/ProjectsCarousel.astro';
---

<Layout>
  <section id="summary">
    <HeroSection />
  </section>

  <section id="projects">
    <ProjectsCarousel />
  </section>
</Layout>
